body {
  .md-chips {
    &:not(.md-readonly) {
      .md-chip {
        padding-right: 0; // $chip-remove-padding-right;
      }
    }

    .md-chip {
      .md-chip-content {
        white-space: nowrap;
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .md-chip-input-container {
      width: 100%;
    }
  }

  // Theming
  md-chips {
    .md-chips {
      box-shadow: 0 1px $gray-light;
      &.md-focused {
        box-shadow: 0 2px $brand-secondary;
      }
    }
    .md-chip {
      &.md-focused {
        background: $brand-secondary;
        md-icon {
          color: white;
          svg {
              fill: white;
          }
        }
      }
    }
  }
}

