$chip-font-size: $font-size-small;
$chip-height: 22px;
$chip-padding: 0 rem(1.2) 0 rem(1.2) !default;
$chip-remove-padding-right: rem(2.2) !default;
$chip-remove-line-height: rem(2.2) !default;
$chip-margin: rem(0.8) rem(0.8) 0 0 !default;
$chip-wrap-padding: 0 0 rem(0.8) rem(0.3) !default;
$chip-delete-icon-size: rem(1.8) !default;

body {
  .md-chips {
    display: block;
    // font-family: $font-family;
    font-size: $chip-font-size;
    padding: $chip-wrap-padding;
    vertical-align: middle;

    &:not(.md-readonly) {
      cursor: text;

      .md-chip {
        padding-right: $chip-remove-padding-right;
      }
    }

    .md-chip {
      cursor: default;
      border-radius: $chip-height / 2;
      display: block;
      height: $chip-height;
      line-height: $chip-height;
      margin: $chip-margin;
      padding: $chip-padding;
      float: left;
      box-sizing: border-box;
      max-width: 100%;
      position: relative;

      .md-chip-content {
        display: block;
        padding-right:rem(0.4);
        float: left;
        white-space: nowrap;
        max-width: 100%;
        // overflow: hidden;
        // text-overflow: ellipsis;
        &:focus {
          outline: none;
        }
      }
      .md-chip-remove-container {
        // position: absolute;
        // right: 0;
        line-height: $chip-remove-line-height;
      }
      .md-chip-remove {
        text-align: center;
        width: $chip-height;
        height: $chip-height;
        min-width: 0;
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
        position: relative;
        md-icon {
          height: $chip-delete-icon-size;
          width: $chip-delete-icon-size;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }
    .md-chip-input-container {
      display: block;
      line-height: $chip-height;
      margin: $chip-margin;
      padding: $chip-padding;
      padding-left: 0;
      float: left;
      input {
        &:not([type]),&[type="email"],&[type="number"],&[type="tel"],&[type="url"],&[type="text"] {
          border: 0;
          height: $chip-height;
          line-height: $chip-height;
          padding: 0;
          &:focus {
            outline: none;
          }
        }
      }
      md-autocomplete, md-autocomplete-wrap {
        background: transparent;
        height: $chip-height;
      }
      md-autocomplete {
        md-autocomplete-wrap {
          box-shadow: none;
        }
        input {
          position: relative;
        }
      }
      input {
        border:0;
        height: $chip-height;
        line-height: $chip-height;
        padding: 0;
        &:focus {
          outline:none;
        }
      }
      md-autocomplete, md-autocomplete-wrap {
        height: $chip-height;
      }
      md-autocomplete {
        box-shadow: none;
        input {
          position: relative;
        }
      }
      &:not(:first-child) {
        margin: $chip-margin;
      }
      input {
        background:transparent;
        border-width: 0;
      }
    }
    md-autocomplete {
      button {
        display: none;
      }
    }
  }
  @media screen and (-ms-high-contrast: active) {
    .md-chip-input-container,
    md-chip {
      border: 1px solid #fff;
    }
    .md-chip-input-container md-autocomplete {
      border: none;
    }
  }

  // Theming

  md-chips {
    .md-chips {
      box-shadow: 0 1px $gray-light;
      &.md-focused {
        box-shadow: 0 2px $brand-secondary;
      }
    }
    .md-chip {
      // background: '{{background-300}}';
      // color: '{{background-800}}';
      &.md-focused {
        background: $brand-secondary;
        // color: '{{primary-contrast}}';
        md-icon {
          color: white;
          svg {
              fill: white;
          }
        }
      }
    }
    md-chip-remove {
      .md-button {
        md-icon {
          path {
            // fill: '{{background-500}}';
          }
        }
      }
    }
  }
}

