.btn {
    &.btn-fab {
        border-radius: 100%;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
        height: $btn-fab-height;
        width: $btn-fab-width;
        text-align: center;

        position: relative;

        i {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin-left: auto;
            margin-right: auto;

            line-height: $btn-fab-height;
            vertical-align: middle;
        }
    }
}
