.form-control {
    box-shadow: none !important;
}

.has-error {
    .form-control {
        border-color: $text-color;
        &:not(.ng-pristine) {
            border-color: $brand-danger;
        }
    }
}

.has-warning {
    .form-control {
        border-color: $text-color;
        &:not(.ng-pristine) {
            border-color: $brand-warning;
        }
    }
}

.has-success {
    .form-control {
        border-color: $text-color;
        &:not(.ng-pristine) {
            border-color: $brand-success;
        }
    }
}
