.form-control {
    box-shadow: none !important;
}

.has-error {
    @include form-control-validation($brand-danger, $brand-danger, transparent);
    .form-control {
        border-color: $brand-danger;
    }

    .radio {
        color: $text-color;
    }
}

.has-warning {
    @include form-control-validation($brand-warning, $brand-warning, transparent);

    .form-control {
        border-color: $text-color;

        &:not(.ng-pristine) {
            border-color: $brand-warning;
        }
    }

    .radio {
        color: $text-color;
    }
}

.has-success {
    @include form-control-validation($brand-success, $brand-success, transparent);

    .form-control {
        border-color: $text-color;

        &:not(.ng-pristine) {
            border-color: $brand-success;
        }
    }

    .radio, .radio-inline {
        color: $text-color;
    }
}

.has-success, .has-error, .has-warning {
    .help-block {
        opacity: .4;
    }
}

.form-group.has-success .control-label {
    color: $text-color;
}

.input-group-addon {
    background-color: transparent;
}

select, .input-group select, .input-group select.form-control, .form-inline select {
    background: transparent;
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $text-color;
    background: url(../images/icons/chevron-down.png) no-repeat right transparent;
    line-height: 1;
    min-width: 40px;

    padding-right: 30px;
    &:focus {
        padding-right: 30px;
        background: url(../images/icons/chevron-down.png) no-repeat right transparent;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.full-width {
    select, .input-group select, .input-group select.form-control {
        width: auto !important;
        min-width: 24px;
    }
}
