.form-control {
    box-shadow: none !important;
}

.radio > label, .radio-inline {
    padding-left: 0 !important;
}

.has-error {
    @include form-control-validation($brand-danger, $brand-danger, transparent);
    .form-control {
        border-color: $brand-danger;
    }

    .radio {
        color: $text-color;
    }
}

.has-warning {
    @include form-control-validation($brand-warning, $brand-warning, transparent);

    .form-control {
        border-color: $input-border-color;

        &:not(.ng-pristine) {
            border-color: $brand-warning;
        }
    }

    .radio {
        color: $text-color;
    }
}

.has-success {
    @include form-control-validation($brand-success, $brand-success, transparent);

    .form-control {
        border-color: $input-border-color;

        &:not(.ng-pristine) {
            border-color: $brand-success;
        }
    }

    .radio, .radio-inline {
        color: $text-color;
    }
}

.form-group.has-success .control-label {
    color: $text-color;
}

.input-group-addon {
    background-color: transparent;
}

select, .input-group select, .input-group select.form-control, .form-inline select, .select2-container .select2-choice {
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $input-border-color !important;
    background: url(../images/icons/chevron-down.png) no-repeat right transparent !important;
    line-height: 1;
    min-width: 40px;

    padding-right: 30px;
    &:focus {
        padding-right: 30px;
        background: url(../images/icons/chevron-down.png) no-repeat right transparent;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    &.disabled {
        background: url(../images/icons/chevron-down-disabled.png) no-repeat right transparent !important;
        border-bottom: 1px solid $input-border-color-disabled !important;
    }
}

.select2-container-disabled {
    .select2-choice {
        background: url(../images/icons/chevron-down-disabled.png) no-repeat right transparent !important;
        border-bottom: 1px solid $input-border-color-disabled !important;
    }
}

.full-width {
    select, .input-group select, .input-group select.form-control {
        width: auto !important;
        min-width: 24px;
    }
}

fieldset[disabled] .form-control, .form-control-wrapper .form-control, .form-control {
    &, &:focus, &.focus {
        &:not(textarea) {
            height: 28px;
        }
        padding: 0;
        float: none;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid $input-border-color;
        &:disabled {
            border-style: dashed;
        }
    }
}

.radio label span {
  position: relative;
}
