.basic-shadow {
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.btn-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.box-tile {
  @extend .basic-shadow;
  background-color: white;
  padding: $padding-base-vertical $padding-base-horizontal;
}
