$padding-box-tile: $padding-base-horizontal;

.basic-shadow {
  box-shadow: 0 0 2px rgba(0,0,0,.12);
}

.btn-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.box-tile {
  behavior: url(src/common/css3pie/PIE.htc);
  @extend .basic-shadow;
  border-radius: 2px;
  background-color: white;
  padding: $padding-base-vertical $padding-base-horizontal;
}

.lateral-shadow {
    z-index: 1;

    &:after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 1px;
        height: 100%;
        background: #ECECEC;
        box-shadow: rgba(184, 184, 184, 0.5) 1px 0 3px;
    }
}
