.btn-default {
  &:hover, &:active {
    @include transition(background-color 0.3s 0 ease);

    background-color: $brand-success;
    border-color: $brand-success;
    color: white;

    a {
      color: white;
    }
  }
}

.btn-stream-light {
    @include transition(background-color 0.3s 0 ease);
    background-color: $alk-green-light !important;
    color: white !important;
    z-index: 1000;

    * {
        color: white !important;
    }

    &:hover {
        background-color: $alk-green-light-hover !important;
    }

    &:active {
        background-color: $alk-green-light-active !important;
    }
}

.btn-stream {
    @include transition(background-color 0.3s 0 ease);
    background-color: $alk-green !important;
    color: white !important;
    z-index: 1000;

    * {
        color: white !important;
    }

    &:hover {
        background-color: $alk-green-hover !important;
    }

    &:active {
        background-color: $alk-green-active !important;
    }
}

.btn-stream-inverse {
    @include transition(background-color 0.3s 0 ease);
    background-color: transparent !important;
    color: $alk-green !important;
    z-index: 1000;

    * {
        color: $alk-green !important;
    }

    &:hover {
        color: $alk-green-hover !important;
    }

    &:active {
        color: $alk-green-active !important;
    }
}
