//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            #222222;
$gray-dark:              #3C3C3B;
$gray:                   #555555;
$gray-light:             #B8B8B8;
$gray-lighter:           #ECECEC;
$gray-lightest:          #FBFBFB;

$brand-primary:         #3FA2B2;
$brand-secondary:       #166a83;

$brand-secondary-menu:  #146984;
$brand-secondary-submenu: #185f75;
$brand-secondary-mainmenu:  #1c4754;


$brand-success:         #48B071;
$brand-info:            $brand-secondary;
$brand-default:         $gray-darker;
$brand-warning:         #e64c42;
$brand-danger:          #e64c42;

$brand-inprogress:      #C69C5D;
$brand-highlight:       #FABF2D;
$brand-highlight-secondary: #EF7E1D;

$brand-primary-hover:     #3e8e9a;
$brand-primary-btn-hover: $brand-primary-hover;
$brand-primary-active:    #8cc7d1;

$brand-secondary-hover:   #d0e1e6;
$brand-success-hover:     #daefe3;
$brand-danger-hover:      #fadbd9;
$brand-warning-hover:     $brand-danger-hover;
$brand-default-hover:     #d8d8d8;

$brand-primary-disabled:     #bcd7de;
$brand-secondary-disabled:   #a8b8c5;
$brand-success-disabled:     #c0ddc6;
$brand-danger-disabled:      #f6beb7;
$brand-warning-disabled:     $brand-danger-disabled;
$brand-inprogress-disabled:  #ebdcc6;
$brand-highlight-disabled:  #fee5b3;
$brand-highlight-secondary-disabled:  #f9cda9;
$brand-default-disabled:     #979493;

$brand-white:             #FFFFFF;


$brand-primary-80:      rgba($brand-primary, .8);
$brand-primary-60:      rgba($brand-primary, .6);
$brand-primary-40:      rgba($brand-primary, .4);

$brand-brillant:        rgb(255, 255, 0);
$brand-deprecated:      rgb(165, 154, 103);
$brand-stream:          $brand-primary;

$alk-total: $brand-primary;
$alk-certified: $brand-success;
$alk-accepted: $brand-inprogress;
$alk-attributed: $brand-danger;
$alk-not-attributed: $brand-danger;
$alk-discontinued: $gray-light;

$alk-red: rgb(227, 37, 34);
$alk-green: $brand-success;
// $alk-green: rgb(94, 172, 37);
$alk-darkgreen: rgb(0, 102, 74);
$alk-blue: rgb(2, 102, 161);
$alk-yellow: rgb(255, 214, 0);
$alk-orange: rgb(235, 113, 29);
$alk-pink: rgb(222, 0, 101);
$alk-purple: rgb(114, 27, 96);

$alk-orange-lighter: rgba(245, 182, 38, 1);
$alk-orange-darker: rgba(239, 142, 28, 1);
$alk-green-lighter: rgba(127, 201, 49, 1);
$alk-yellow-lighter: rgba(246, 220, 0, 1);
$alk-yellow-darker: rgba(241, 201, 0, 1);

$background-color-grey: $gray-lighter;
$body-bg:               $gray-lighter;
$input-border-color:    $gray-light;
$input-border-color-disabled: $gray-lighter;

$alk-green-hover: rgba($alk-green, .85);
$alk-green-active: rgba($alk-green, .65);

$alk-green-light: rgba($alk-green, 0.25);
$alk-green-light-hover: rgba($alk-green, 0.15);
$alk-green-light-active: rgba($alk-green, 0.35);

$alk-purple-light: rgba($alk-purple, 0.1);
$alk-purple-light-hover: rgba($alk-purple, 0.05);
$alk-purple-light-active: rgba($alk-purple, 0.25);

$icon-gray: $gray;
$icon-gray-hover: rgba($gray-light, .7);
$icon-gray-active: rgba($gray-light, .85);

// =================================================================================================
//                                          BASE COLORS
// =================================================================================================

@mixin color-inverse($color) {
    background-color: $color !important;
    color: white;
}

.color-secondary-inverse {
    @include color-inverse($brand-secondary);
}

.color-info-inverse {
    @include color-inverse($brand-info);
}

.color-warning-inverse {
    @include color-inverse($brand-warning);
}

.color-secondary-menu-inverse {
    @include color-inverse($brand-secondary-menu);
}

.color-gray-light {
    color: $gray-light;
}

.color-gray-lighter {
    color: $gray-lighter;
}

.color-gray-lightest {
    color: $gray-lightest;
}

.color-background-inverse {
    @include color-inverse($body-bg);
}

.color-certified {
    color: $brand-success;
}

.color-inprogress {
    color: $brand-inprogress;
}

.color-attributed {
    color: $alk-attributed;
}

.color-red {
    color: $alk-red;
}

.color-red-inverse {
    background-color: $alk-red !important;
    color: white;
}

.color-green {
    color: $alk-green !important;
}

.color-green-inverse {
    background-color: $alk-green !important;
    color: white;
}

.color-darkgreen {
    color: $alk-darkgreen !important;
}

.color-darkgreen-inverse {
    background-color: $alk-darkgreen !important;
    color: white;
}

.color-blue {
    color: $alk-blue;
}

.color-blue-inverse {
    background-color: $alk-blue !important;
    color: white;
}

.color-yellow {
    color: $alk-yellow;
}

.color-yellow-inverse {
    background-color: $alk-yellow !important;
    color: white;
}

.color-orange {
    color: $alk-orange;
}

.color-orange-inverse {
    background-color: $alk-orange !important;
    color: white;
}

.color-pink {
    color: $alk-pink;
}

.color-pink-inverse {
    background-color: $alk-pink !important;
    color: white;
}

.color-purple {
    color: $brand-primary;
}

.color-purple-inverse {
    background-color: $brand-primary !important;
    color: white;
}

.color-settings-inverse {
    background-color: gray;
    color: white;
}

.color-settings-light-inverse {
    background-color: lightgray;
    color: white;
}

.color-normal {
    background-color: white;
    color: black;
}

// =================================================================================================
//                                          LEVEL COLORS
// =================================================================================================

.color-debug-inverse {
    @extend .color-blue-inverse;
}

.color-success-inverse {
    @extend .color-green-inverse;
}

.color-debug-inverse {
    @extend .color-purple-inverse;
}

.color-danger-inverse {
    @extend .color-red-inverse;
}

.color-error-inverse {
    @extend .color-red-inverse;
}

// =================================================================================================
//                                          SERVICE COLORS
// =================================================================================================

.color-analytics {
    background-color: white;
    color: $alk-purple;
}

.color-analytics-transparent {
    color: $alk-purple !important;
}

.color-analytics-inverse {
    background-color: $alk-purple !important;
    color: white !important;
}

.color-advertising {
    background-color: white;
    color: $alk-orange;
}

.color-advertising-transparent {
    color: $alk-orange;
}

.color-advertising-inverse {
    background-color: $alk-orange;
    color: white;
}

.color-advertising-light-inverse {
    background-color: $alk-orange-lighter;
    color: white;
}

.color-stream {
    color: $brand-primary !important;
}

.color-stream-transparent {
    @extend .color-stream;
}

.color-stream-inverse {
    background-color: $brand-primary;
    color: white;
}

.color-api {
    background-color: white;
    color: $alk-yellow;
}

.color-api-transparent {
    color: $alk-yellow;
}

.color-api-inverse {
    background-color: $alk-yellow;
    color: white;
}

.color-company {
    color: rgb(100, 100, 100);
}

// =================================================================================================
//                                          SEMANTIC COLORS
// =================================================================================================

.color-plugin {
    background-color: $alk-yellow;
    color: white;
}

.color-brand {
    background-color: $alk-blue;
    color: white;
}

.color-product {
    background-color: $alk-blue;
    color: white;
}

.color-placement,
.color-action {
    background-color: $alk-orange;
    color: white;
}

.color-organization,
.color-member {
    background-color: $alk-red;
    color: white;
}

.color-semantic {
    background-color: $alk-yellow;
    color: black;
}

.color-page {
    background-color: $alk-orange;
    color: white;
}

.color-website {
    background-color: $alk-orange;
    color: white;
}

.color-calendar {
    background-color: $brand-deprecated;
    color: white;
}

.color-disabled {
    background-color: $gray-lighter;
    color: white;
}

.color-shop,
.color-store {
    background-color: $brand-stream;
    color: white;
}

.color-brand-inversed {
    color: $alk-blue;
}

.color-product-inversed {
    color: $alk-blue;
}

.color-placement-inversed,
.color-action-inversed {
    color: $brand-success;
    background-color: white;
}

.color-organization-inversed,
.color-member-inversed {
    color: $alk-red;
}

.color-semantic-inversed {
    color: $alk-orange;
}

.color-page-inversed {
    color: $alk-orange;
}

.color-website-inversed {
    color: $alk-orange;
}

.color-calendar-inversed {
    color: $brand-deprecated;
}

.color-disabled-inversed {
    color: $gray-lighter;
}

.color-shop-inversed,
.color-store-inversed,
.color-stream-inversed {
    color: $brand-stream;
}

.color-settings {
    color: #999999;
    background-color: #222222;
}
