.nav {
    text-transform: uppercase;
}

.navbar {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    .logo {
        margin: 12px 0;
        height: 36px;
    }

    .navbar-nav {
        li {
            cursor: pointer;

            &:hover, &:active, &:focus, .active {
                color: $brand-primary;

                a {
                    color: $brand-primary;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 3px;
                    background-color: $brand-primary;
                }
            }
        }
    }
}
