.portlet-container {
    border: 1px solid;
    margin-bottom: 15px;
    .portlet-heading {
        padding: 0 15px;
        h4 {
            padding: 1px 0;
            font-size: 16px;
        }
        a {
            color: #fff;
            &:hover, &:active, &:focus {
                outline: none;
            }
        }
        .portlet-title {
            float: left;
            h4 {
                margin: 10px 0;
            }
        }
        .portlet-widgets {
            float: right;
            margin: 8px 0;
            .tabbed-portlets {
                display: inline;
            }
            .divider {
                margin: 0 5px;
            }
        }
    }
    .portlet-widgets {
        .dropdown-menu a {
            color: #333;
        }
        ul.dropdown-menu {
            min-width: 0;
        }
    }
    .portlet-body {
        padding: 15px;
        background: #fff;
        overflow-y: scroll;
    }
    .portlet-footer {
        padding: 10px 15px;
        background: #e0e7e8;
        ul {
            margin: 0;
        }
    }
}

.portlet-green,
.portlet-green > .portlet-heading {
    border-color: $alk-green;
}

.portlet-green > .portlet-heading {
    color: #fff;
    background-color: $alk-green;
}

.portlet-orange,
.portlet-orange > .portlet-heading {
    border-color: $alk-orange;
}

.portlet-orange > .portlet-heading {
    color: #fff;
    background-color: $alk-orange;
}

.portlet-blue,
.portlet-blue > .portlet-heading {
    border-color: $alk-blue;
}

.portlet-blue > .portlet-heading {
    color: #fff;
    background-color: $alk-blue;
}

.portlet-red,
.portlet-red > .portlet-heading {
    border-color: $alk-red;
}

.portlet-red > .portlet-heading {
    color: #fff;
    background-color: $alk-red;
}

.portlet-purple,
.portlet-purple > .portlet-heading {
    border-color: $alk-purple;
}

.portlet-purple > .portlet-heading {
    color: #fff;
    background-color: $alk-purple;
}

.portlet-yellow,
.portlet-yellow > .portlet-heading {
    border-color: $alk-yellow;
}

.portlet-yellow > .portlet-heading {
    background-color: $alk-yellow;
}

.portlet-black,
.portlet-black > .portlet-heading {
    border-color: black;
}

.portlet-black > .portlet-heading {
    background-color: black;
    color: white;
}

.portlet-black,
.portlet-black > .portlet-heading {
    border-color: black;
}

.portlet-black > .portlet-heading {
    background-color: white;
    color: black;
}

@media (min-width: 768px) {
    .portlet-container {
        margin-bottom: 30px;
    }
}
